<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <center>
        <form method="POST">
           <tr><input type="text" name="username" placeholder="Usuario" required></tr>
            <tr><input type="password" name="password" placeholder="Contraseña" required></tr>
            <tr><button type="submit">Iniciar Sesion</button></tr>     
        </form>    
        <p><a href="{{ url_for('auth.index') }}">Volver al inicio</a></p>
        {% with messages=get_flashed_messages()%}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor%}
            {% endif %}
        {%endwith%}
    
    </center>
</body>
</html>